<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(171, 229, 240);color: rgb(17, 1, 1);">
        <h1>Información del servidor/process</h1>
        <h3>Argumentos de entrada: <i>{{argumentos_de_entrada}}</i></h3>
        <h3>Nombre de la plataforma (sistema operativo): <i>{{nombre_plataforma}}</i></h3>
        <h3>Versión de node.js: <i>{{version_node}}</i></h3>
        <h3>Memoria total reservada (rss): <i>{{memoria_reservada}}</i></h3>
        <h3>Path de ejecución: <i>{{path_ejecucion}}</i></h3>
        <h3>Process id: <i>{{process_id}}</i></h3>
        <h3>Carpeta del proyecto: <i>{{carpeta_proyecto}}</i></h3>
        <button class="btn btn-danger my-5" onclick="location.href='/'">Volver al inicio</button>
    </div>
</div>

{{!-- {contador, datos: {nombre, direccion}} --}}